<section>
  <div class="login-container text-center p-5 shadow-8">
    <img src="app/assets/images/logo-app.png" class="logo" alt="Logo">
    <h1 class="mb-5 title">Bookami</h1>
    <form [formGroup]="form" (keyup.enter)="submit()" class="flex flex-column gap-5">

      <p-floatLabel>
        <input pInputText id="email" formControlName="email"/>
        <label for="email">Email</label>
      </p-floatLabel>

      <p-floatLabel>
        <p-password id="password" formControlName="password" [feedback]="false" [toggleMask]="true" />
        <label for="password">Password</label>
      </p-floatLabel>

      <app-primary-btn (click)="submit()" label="Accedi"  />
    </form>
  </div>
</section>
