@import "../../../styles";

:host ::ng-deep {
  .p-float-label label {
    margin-top: -.5rem !important;
  }

  .p-inputtext {
    width: 100% !important;
  }
}

section {
  width: 100vw;
  height: 100vh;
  background: $bg-color;
}

.login-container {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px
}

.logo {
  width: 150px;
}

.title {
  font-size: 2.5rem;
}
