<nav class="w-full">
  <ul
    class="flex justify-content-between lg:justify-content-start list-none w-full p-0 m-0"
  >
    <li class="z-2 flex align-items-center justify-content-center">
      <img
        class="w-5rem m-3 cursor-pointer"
        src="app/assets/images/logo-app.png"
        alt="logo"
      />
      <h2>Bookami</h2>
    </li>
    <li class="m-3 lg:hidden z-2">
      <hamburger-btn (click)="smallMenuToggler()" [menuValue]="smallMenuOpen"></hamburger-btn>
    </li>

    <!-- Menu desktop -->
    @for (link of landingStore.links; track link) {
      <li class="hidden lg:flex w-20rem justify-content-center py-6">
        <h3 (click)="goToSection(link)" class="cursor-pointer">{{ link }}</h3>
      </li>
    }

    <!-- Login btn -->
    <li class="hidden lg:flex w-20rem justify-content-center py-6"><h3>Login</h3></li>
  </ul>

  <!-- Menu a tendina per mobile -->
  <ul
    class="absolute left-0 top-0 w-full p-0 m-0 _small_menu lg:hidden z-1"
    [class]="smallMenuOpen ? 'max-h-30rem' : 'max-h-0'"
  >
    @for (link of landingStore.links; track link) {
      <li class="p-3 flex justify-content-center">
        <h3 (click)="goToSection(link); smallMenuToggler()" class="cursor-pointer">{{ link }}</h3>
      </li>
    }
    <!-- Login btn -->
    <li class="p-3 flex justify-content-center"><h3>Login</h3></li>
  </ul>
</nav>
