<div class="flex justify-content-between mb-3">
  <h1>Appuntamenti</h1>
</div>

<p-calendar [(ngModel)]="storeAppointments.currentDay" readonlyInput dateFormat="dd/mm/yy"></p-calendar>

<table *ngIf="storeAppointments.appointments">
  <tr>
    <th class="border-right"></th>
    <th class="name-tag" *ngFor="let staff of storeStaff.staffList">{{ staff.name }}</th>
  </tr>
  <tr *ngFor="let hour of shopStore.workingHours">
    <th class="hour-tag"><h4>{{ hour }}</h4></th>
    <td *ngFor="let staff of storeStaff.staffList" (click)="goToCreation(hour, staff)" class="cursor-pointer">
      <ng-container *ngIf="getAppointmentForTime(hour, staff) as apps">
        <div *ngFor="let app of apps" class="appointment flex-column justify-content-center hidden" (click)="goToAppointment(app, hour, staff)"
             [ngStyle]="{
             'height': getAppHeight(app),
             'border': getAppWidth(app, staff)
             }" [ngClass]="alreadyCalled(app, hour) ? 'flex' : 'hidden'">
          <h4 class="text-center">{{capitalizeFirstLetter(app.customerLastName)}} {{firstLetter(app.customerName)}}.</h4>
          <p class="text-center">{{capitalizeFirstLetter(app.serviceName)}}</p>
        </div>
      </ng-container>
    </td>
  </tr>
</table>
