<div class="appointments-container">
  <div class="header">
    <h1 class="mb-3 hidden lg:block">Appuntamenti</h1>
    <h1 class="mb-3 p-3 absolute top-0 right-0 lg:hidden text-center">Appuntamenti</h1>

    <!-- Day selector -->
    <div class="w-full flex align-items-center justify-content-center border-bottom-1">
      <button (click)="navigateDay(-1)" class="nav-arrow">
        <i class="pi pi-chevron-left"></i>
      </button>
      <div class="flex align-items-center justify-content-center cursor-pointer w-15rem" (click)="openCalendar(calendar)">
        <p class="ml-5 font-medium">{{ getDayOfWeek(storeAppointments.currentDay) }}</p>
        <p-calendar #calendar [(ngModel)]="storeAppointments.currentDay" readonlyInput dateFormat="dd/mm/yy" class="w-10rem" (onSelect)="changeDate()"></p-calendar>
      </div>
      <button (click)="navigateDay(1)" class="nav-arrow">
        <i class="pi pi-chevron-right"></i>
      </button>
    </div>
  </div>

  <app-loading *ngIf="loading" />

  <div class="table-wrapper" *ngIf="!loading">

    <!-- Table -->
    <table *ngIf="storeAppointments.appointments">
      <thead>
        <tr>
          <th class="fixed-column"></th>
          <th class="name-tag fixed-header" *ngFor="let staff of storeStaff.staffList"><h4>{{ staff.name }}</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hour of shopStore.workingHours">
          <th class="hour-tag fixed-column"><h4 class="{{getHourClass(hour)}}">{{ hour }}</h4></th>
          <td *ngFor="let staff of storeStaff.staffList" (click)="goToCreation(hour, staff)" class="cursor-pointer" [ngClass]="!checkStaffAvailability(hour, staff.id) ? 'not-available-icon' : ''">
            <ng-container *ngIf="getAppointmentForTime(hour, staff) as apps">
              <div *ngFor="let app of apps" class="appointment flex-column justify-content-center hidden" (click)="goToAppointment(app, hour, staff)"
                   [ngStyle]="{
                   'height': getAppHeight(app),
                   'border': getAppWidth(app, staff),
                   }" [ngClass]="alreadyCalled(app, hour) ? 'flex' : 'hidden'">
                <div class="app-background" [ngStyle]="{'background': getBgColor(app)}"></div>
                <h4 class="text-center app-text">{{capitalizeFirstLetter(app.customerLastName)}} {{capitalizeFirstLetter(app.customerName)}}</h4>
                <p class="text-center app-text">{{capitalizeFirstLetter(app.serviceName)}}</p>
              </div>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
