@import "../../../../styles.scss";

.main-container {
  max-width: $xxl;
  margin: 0 auto;
}

.brand-word {
    transform: rotate(-8deg);
    background-color: #000;
    color: #f2ead8;
    padding: 1px;
    border-radius: 5px;
    margin-top: 5px;
}

.green {
    color: #219521;
}

.gray {
    opacity: .7;
}
