<div class="block-content">
    <div class="main-container grid align-items-center">
      <div class="relative p-5 overflow-hidden col-12 xl:col-6">
        <div class="text-center xl:text-left mt-6 mb-3 relative">

          <!-- Main title with rotated "Brand" -->
          <h1 class="text-6xl lg:text-7xl font-bold mb-4">
            Libera il tuo
            <span class="brand-word inline-block">Brand!</span>
          </h1>

          <!-- Subtitle with custom size and color (orange) -->
          <div class="text-4xl lg:text-5xl orange font-bold mb-4">
            Senza intermediari né commissioni
          </div>

          <!-- Description with max width of 500px -->
          <p class="mt-0 mb-4 line-height-3 mx-auto xl:mx-0 text-xl" style="max-width: 500px">
            Progettato per dare alle imprese il pieno controllo sui loro appuntamenti
          </p>

          <p class="mb-3 gray"><i class="pi pi-check green mr-3" style="font-weight: bold;"></i>Zero commissioni, più guadagni</p>
          <p class="mb-3 gray"><i class="pi pi-check green mr-3" style="font-weight: bold;"></i>Profilo personalizzabile</p>
          <p class="mb-3 gray"><i class="pi pi-check green mr-3" style="font-weight: bold;"></i>14 giorni di prova gratuita</p>
          <p class="mb-5 gray"><i class="pi pi-check green mr-3" style="font-weight: bold;"></i>Paghi una volta, lo hai per sempre</p>
          
          <!-- CTA Button to start now -->
          <app-primary-btn label="Provalo Gratis!" [routerLink]="['/create-free-trial-account']" routerLinkActive="router-link-active"  class="mx-auto xl:mx-0 block w-11rem"/>
        </div>
      </div>
      <div class="img-container text-center col-12 xl:col-6">
        <img src="app/assets/images/responsive.png" class="w-full md:w-10 lg:w-8 xl:w-12" alt="">
      </div>
    </div>
  </div>
