<div class="block-content">
    <div class="ng-star-inserted">
      <div class="relative p-5 overflow-hidden">
        <div class="text-center my-6 relative">

          <!-- Main title with rotated "Brand" -->
          <div class="text-6xl lg:text-7xl font-bold mb-3">
            Libera il tuo
            <div class="brand-word inline-block">Brand!</div>
          </div>

          <!-- Subtitle with custom size and color (orange) -->
          <div class="text-4xl lg:text-5xl text-orange-500 font-bold mb-4">
            Senza intermediari né commissioni
          </div>

          <!-- Description with max width of 500px -->
          <p class="mt-0 mb-4 line-height-3 text-center mx-auto text-xl" style="max-width: 500px">
            Progettato per dare alle imprese il pieno controllo sui loro appuntamenti
          </p>

          <p class="mb-3 text-gray-500"><i class="pi pi-check text-green-500 mr-3" style="font-weight: bold;"></i>Paghi una volta, lo hai per sempre</p>
          <p class="mb-3 text-gray-500"><i class="pi pi-check text-green-500 mr-3" style="font-weight: bold;"></i>Zero commissioni, più guadagni</p>
          <p class="mb-3 text-gray-500"><i class="pi pi-check text-green-500 mr-3" style="font-weight: bold;"></i>Profilo personalizzabile</p>
          <p class="mb-3 text-gray-500"><i class="pi pi-check text-green-500 mr-3" style="font-weight: bold;"></i>Esperienza cliente facile e intuitiva</p>
          <p class="mb-5 text-gray-500"><i class="pi pi-check text-green-500 mr-3" style="font-weight: bold;"></i>Controllo completo sugli appuntamenti</p>

          <!-- CTA Button to start now -->
          <app-primary-btn label="Inizia ora!" class="mx-auto block w-8rem"/>
        </div>
      </div>
    </div>
  </div>
