<section class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center" id="features">

  <div class="mb-3 font-bold text-3xl lg:text-4xl">
    <p class="text-orange-500 text-lg font-normal mb-5">Features</p>
      <span class="text-900">Un solo Prodotto, </span>
      <span class="text-orange-500">Infinite Soluzioni</span>
  </div>
  <div class="text-700 mb-6">Tutto ciò di cui hai bisogno per risparmiare tempo, aumentare i clienti e rafforzare il legame con loro.</div>
  <div class="grid">
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-id-card text-4xl text-orange-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Profilo Personalizzabile</div>
          <span class="text-700 line-height-3">Crea un profilo unico per il tuo negozio e connettiti direttamente con i tuoi clienti.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-wallet text-4xl text-orange-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Zero Commissioni</div>
          <span class="text-700 line-height-3">Tieni il 100% dei guadagni, senza costi nascosti o percentuali sulle transazioni.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-calendar text-4xl text-orange-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Gestione Intelligente</div>
          <span class="text-700 line-height-3">Un sistema intuitivo per gestire gli appuntamenti e ridurre i tempi morti.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-bell text-4xl text-orange-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Notifiche Automatiche</div>
          <span class="text-700 line-height-3">Invia notifiche e promemoria a te e ai tuoi clienti per ridurre le mancate presentazioni.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-mobile text-4xl text-orange-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Accessibile Ovunque</div>
          <span class="text-700 line-height-3">Gestisci appuntamenti e clienti facilmente da qualsiasi dispositivo, che sia un desktop, tablet o smartphone. Sempre ottimizzato per te.</span>
      </div>
      <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-comments text-4xl text-orange-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Supporto Dedicato</div>
          <span class="text-700 line-height-3">Siamo sempre a tua disposizione per qualsiasi domanda o esigenza.</span>
      </div>
  </div>
</section>
