<app-loading *ngIf="loading" />


<div *ngIf="!loading">
  <div class="flex justify-content-between mb-3">
    <h1>Qr Code</h1>
  </div>
  <p class="mb-5">Copia il tuo Link e scarica il Qr Code</p>

  <div class="grid mb-5">
    <div class="col-9 lg:col-10">
      <p-floatLabel>
        <input pInputText id="link" readonly [(ngModel)]="link"/>
        <label for="link">Link</label>
      </p-floatLabel>
    </div>

    <div class="col-1 lg:col-2">
      <a class="ml-5 cursor-pointer copy-btn flex align-items-center" (click)="copyLink()">
        <i class="pi pi-copy" style="font-size: 1.5rem"></i>
      </a>
    </div>
  </div>

  <div class="text-center lg:text-left">
    <qrcode
    [qrdata]="link"
    [allowEmptyString]="true"
    [ariaLabel]="'QR Code image with the following content...'"
    [cssClass]="'center'"
    [colorDark]="'#000000ff'"
    [colorLight]="'#ffffffff'"
    [elementType]="'canvas'"
    [errorCorrectionLevel]="'H'"
    [imageSrc]="shopStore.currentShop.logo"
    [imageHeight]="75"
    [imageWidth]="75"
    [margin]="1"
    [scale]="1"
    [width]="200"
    ></qrcode>

    <app-primary-btn class="block w-min mt-5 mx-auto lg:mx-0" icon="pi pi-download" label="Download" (click)="downloadQrCode()"/>
  </div>

</div>
