<app-loading *ngIf="loading" />


<div *ngIf="!loading">
  <div class="flex justify-content-between mb-3">
    <h1>Profilo</h1>
  </div>

  <p class="mb-5">Qui puoi vedere o modificare i dati del tuo profilo</p>
    <form class="flex flex-column gap-5" [formGroup]="form">

      <div>
        <p-floatLabel>
          <input pInputText id="name" formControlName="name"/>
          <label for="name">Nome</label>
        </p-floatLabel>
      </div>

      <div>
        <p-floatLabel>
              <textarea
                formControlName="description"
                id="float-input"
                rows="8" cols="30"
                pInputTextarea>
              </textarea>
          <label for="float-input">Descrizione</label>
        </p-floatLabel>
      </div>

      <div>
        <p-floatLabel>
          <input pInputText id="phone" formControlName="phone"/>
          <label for="phone">Telefono</label>
        </p-floatLabel>
      </div>

      <div>
        <p-floatLabel>
          <input pInputText id="email" formControlName="email"/>
          <label for="email">Email</label>
        </p-floatLabel>
      </div>

      <div>
        <p-floatLabel>
          <input pInputText id="address" formControlName="address"/>
          <label for="address">Indirizzo</label>
        </p-floatLabel>
      </div>

      <p-fileUpload 
        mode="basic" 
        chooseLabel="Choose" 
        chooseIcon="pi pi-upload"
        name="demo[]" 
        url="https://www.primefaces.org/cdn/api/upload.php" 
        accept="image/*" 
        maxFileSize="1000000"
        auto="true"
        (onUpload)="onFileSelected($event, 'logo')"
        />
    </form>

    <div class="flex justify-content-end gap-3 mt-5">
      <app-cancel-btn icon="pi pi-times" label="Annulla" [routerLink]="'/private/' + shopStore.shopId + '/services'"/>
      <app-primary-btn icon="pi pi-check" label="Conferma" class="block w-min" (click)="edit()"/>
    </div>
</div>
