<app-loading *ngIf="loading" />

<div class="container text-center p-3" *ngIf="!loading && storeService.currentService && storeService.currentService.id">

  <!-- Header -->
  <div class="flex align-items-center gap-2 mb-5">
    <div class="img-container mr-2 cursor-pointer" [routerLink]="'/' + shopStore.currentShop.id">
      <img [src]="shopStore.currentShop.logo ? shopStore.currentShop.logo : 'app/assets/images/default-logo.png'" alt="Logo">
    </div>
    <i class="pi pi-angle-right" style="font-size: 1.5rem"></i>
    <h2>Dati personali</h2>
  </div>

  <!-- Date -->
  <div class="flex flex-column gap-2 justify-content-center align-content-center mb-5">
    <p>{{formatDateToStringDayFirst(storeAppointments.currentDay)}}</p>
    <h2>{{getDayOfWeek(storeAppointments.currentDay)}}</h2>
    <p>{{storeAppointments.currentHour}}</p>
  </div>

  <!-- Service info -->
  <div *ngIf="storeService.currentService.id" class="card p-3 mx-3 shadow-4 mb-5">
    <h3>{{capitalizeFirstLetter(storeService.currentService.name)}}</h3>
    <div class="flex justify-content-between mt-3">
      <p><i class="pi pi-clock mr-1"></i> {{getHourTime(storeService.currentService.duration)}}</p>
      <p><i class="pi pi-wallet mr-1"></i> {{storeService.currentService.price}} €</p>
    </div>
  </div>

  <!-- Datas form -->
  <form class="flex flex-column gap-5" [formGroup]="form">
    <div>
      <p-floatLabel>
        <input pInputText id="name" formControlName="name"/>
        <label for="name">Nome *</label>
      </p-floatLabel>
    </div>
    
    <div>
      <p-floatLabel>
        <input pInputText id="lastName" formControlName="lastName"/>
        <label for="lastName">Cognome *</label>
      </p-floatLabel>
    </div>
    
    <div>
      <p-floatLabel>
        <input pInputText id="phone" formControlName="phone"/>
        <label for="phone">Telefono *</label>
      </p-floatLabel>
    </div>
    
    <div>
      <p-floatLabel>
        <input pInputText id="email" formControlName="email"/>
        <label for="email">Email *</label>
      </p-floatLabel>
    </div>

    <app-primary-btn class="w-min align-self-center" (click)="create()" icon="pi pi-check" label="Prenota"/>
</form>
</div>