<section>
  <div class="surface-section main-container px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
      <div class="col-12 md:col-6">
        <img
          src="app/assets/images/custom-profile.png"
          alt="Image"
          class="w-full"
        />
      </div>
      <div class="col-12 md:col-6 md:pl-6">
        <div
          class="p-3 inline-flex align-items-center surface-900 text-0 mb-4 font-medium"
          style="border-radius: 30px"
        >
        </div>
        <h2 class="text-5xl font-bold text-900 mb-3">Rendi <span class="orange">Unica</span> la tua pagina </h2>
        <div class="text-700 text-lg mb-5 line-height-3 mb-5">
          Trasmetti il tuo brand alla pagina di prenotazione dei tuoi clienti.
        </div>
        <div class="flex align-items-center mb-4">
          <i class="pi pi-check green mr-3"></i>
          <div>
            <div class="text-900 font-medium mb-2">Facile e Intuitivo</div>
            <div class="text-700">
              Personalizza colori e immagini per rendere la tua pagina unica.
            </div>
          </div>
        </div>
        <div class="flex align-items-center mb-4">
          <i class="pi pi-check green mr-3"></i>
          <div>
            <div class="text-900 font-medium mb-2">Design su misura</div>
            <div class="text-700">
              Dai ai tuoi clienti un'esperienza visiva in line con il tuo brand.
            </div>
          </div>
        </div>
        <div class="flex align-items-center mb-4">
          <i class="pi pi-check green mr-3"></i>
          <div>
            <div class="text-900 font-medium mb-2">Template interattivi</div>
            <div class="text-700">
              Semplifica la prenotazione con un'interfaccia moderna e dinamica.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
