@import '../../../../styles.scss';

section {
  background: $bg-color;
}

section > p {
  color: #ff7f50;
  font-weight: 400;
}

.pricing-card {
  text-align: center;
  padding: 1.5rem;
  border-radius: 20px;
  background: #fcf3e4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.pricing-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.pricing-description {
  color: #666;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.pricing-price {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.discounted-price {
  font-size: 2rem;
  font-weight: bold;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0 auto 1.5rem;
  max-width: 250px;
  text-align: left;
}

.features-list li {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
}

.features-list i {
  color: #00b894;
  font-weight: bold;
  margin-right: 0.5rem;
}

.pricing-note {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #aaa;
}

.popular {
  border: 1.5px solid #ff7f50;
}

.popular-tag {
  background: #ff7f50;
  width: min-content;
  padding: 2px 8px;
  border-radius: 20px;
  margin: -36px auto 8px;
}