<section class="pt-4">
  <div class="main-container">
    <h2 class="mb-3 text-center w-20rem mx-auto md:w-full font-bold text-4xl lg:text-5xl">
      Perchè Bookami è la <span>scelta migliore</span>?
    </h2>
    <div
      class="flex flex-column align-items-center lg:flex-row px-5 gap-8 py-8"
    >
      <div class="card negative w-full lg:w-10 relative">
        <h3 class="text-3xl lg:text4xl">Altre app simili</h3>
        <i class="pi pi-times-circle text-3xl absolute top-0 right-0 m-3"></i>

        <ul class="text-gray-700">
          <li>Commissioni elevate</li>
          <li>Personalizzazione assente</li>
          <li>Interfaccia complessa</li>
          <li>Promemoria manuali o a pagamento</li>
          <li>Limitazioni di accesso</li>
          <li>Supporto lento o assente</li>
          <li>Distrazione del cliente</li>
        </ul>
      </div>

      <div class="card positive w-full lg:w-10 relative">
        <h3 class="text-3xl lg:text4xl">Bookami</h3>
        <i class="pi pi-check-circle text-3xl absolute top-0 right-0 m-3"></i>

        <ul class="text-gray-700">
          <li>Zero commissioni</li>
          <li>Profilo interamente personalizzabile</li>
          <li>Gestione centralizzata</li>
          <li>Notifiche automatiche</li>
          <li>Accesso da qualsiasi dispositivo</li>
          <li>Supporto diretto</li>
          <li>Nessuna distrazione per il cliente</li>
        </ul>
      </div>
    </div>
  </div>
</section>
