@import "../../../../styles.scss";

section {
    background-color: $palette1;
}

.main-container {
  max-width: $landing-w;
  margin: 0 auto;
}

h2 > span {
  border-bottom: 6px dashed $color1;
  text-decoration: none;
  padding-bottom: 1px;
}

.card {
    padding: 1rem;
    border: 3px solid;
    border-radius: 2rem;

    li {
        margin: 10px 0 10px 16px;
    }
}

.negative {
    background-color: rgba(168, 1, 1, 0.2);
    border-color: #f37a7a;
    h3, i {
        color: #d75c5c;
    }
}

.positive {
    background-color: rgba(64, 192, 121, 0.2);
    border-color: #4fb65a;
    h3, i {
        color: #4fb65a;
    }
}
