<div class="flex justify-content-between mb-3">
  <h1>Servizi</h1>
  <app-primary-btn icon="pi pi-plus" label="Crea Servizio"/>
</div>

<div class="grid">
  <div class="col-12 md:col-6 xl:col-4">
    <div class="card p-3 m-2 text-center shadow-4">
      <h3>Semipermanente</h3>
      <div class="flex justify-content-evenly mt-3">
        <p><i class="pi pi-clock mr-1"></i> 60 min.</p>
        <p><i class="pi pi-wallet mr-1"></i> 45 €</p>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 xl:col-4">
    <div class="card p-3 m-2 text-center shadow-4">
      <h3>Ritocco Gel</h3>
      <div class="flex justify-content-evenly mt-3">
        <p><i class="pi pi-clock mr-1"></i> 45 min.</p>
        <p><i class="pi pi-wallet mr-1"></i> 30 €</p>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 xl:col-4">
    <div class="card p-3 m-2 text-center shadow-4">
      <h3>Pedicure</h3>
      <div class="flex justify-content-evenly mt-3">
        <p><i class="pi pi-clock mr-1"></i> 30 min.</p>
        <p><i class="pi pi-wallet mr-1"></i> 25 €</p>
      </div>
    </div>
  </div>
</div>
