<p-button label="Create" routerLink="/employees/create"/>
<p-table [value]="employees">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Role</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.lastname }}</td>
      <td>{{ employee.role }}</td>
      <td>
        <p-button label="Delete" severity="danger" (click)="delete(employee)"/>
      </td>
    </tr>
  </ng-template>
</p-table>
