@import "../styles";

:host ::ng-deep {
  .p-dialog {
    max-width: 600px;
    margin: 1rem !important;
  }
}

.error {
  background: rgba(254, 242, 242, 0.95);
  border-radius: $border-radius;
  border: 2px solid #fecaca;
  width: 90%;
  position: fixed;
  top: 0;
  right: 0;
  transition: all .2s ease;

  @media screen and (min-width: $md) {
    width: 300px;
  }

  h4, i {
    color: #dc2626;
  }

  p {
    font-size: .9rem;
  }
}
