@import "../../../../../../styles.scss";

:host ::ng-deep {
  .p-datatable .p-datatable-thead > tr > th {
    padding: 1rem !important;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    padding: 1rem !important;
  }

  .p-button.p-button-text {
    color: #000000;
  }

  .p-button.p-button-danger.p-button-text,
  .p-button-group.p-button-danger > .p-button.p-button-text,
  .p-splitbutton.p-button-danger > .p-button.p-button-text {
    color: #ef4444;
  }
}
.delete-btn {
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(255, 105, 105) 0%,
    rgb(207, 0, 0) 100%
  );
  padding: 0.5rem;
  border-radius: 8px;
  width: min-content;
  text-align: center;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
}
