@import "../../../../../styles";
@import "../../../../assets/styles/delete-dialog";

:host ::ng-deep {
  .p-dropdown, .p-inputnumber-input {
    border-radius: 10px !important;
    width: 100% !important;

    &:hover {
      border-color: #d1d5db;
    }
  }

  p-inputnumber, .p-inputnumber {
    width: 100% !important;
  }

  .p-inputnumber-input, .price-label label {
    margin-left: 2rem !important;
  }
}

input, textarea {
  border-radius: 10px !important;
  width: 100%;

  &:hover {
    border-color: #d1d5db;
  }
}

label {
  margin-top: -8px !important;
}

textarea {
  resize: none;
}

.color-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 44px;
  border: none;
  cursor: pointer;
}
.color-input::-webkit-color-swatch {
  border-radius: 50%;
  border: 2px solid #000000;
}
.color-input::-moz-color-swatch {
  border-radius: 50%;
  border: 2px solid #000000;
}

