@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "../src/app/assets/styles/calendar";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1550px;

// Border radius
$border-radius: 15px;

// Color palette
$sidebar-bg: #17181CFF;
$dashboard-bg: rgba(239, 239, 239, 0.29);
$bg-color: #f2ead8;

// Global variable
$color1: #FD9706;
$palette1: #F8EDE3;
$palette2: #DFD3C3;
$palette3: #D0B8A8;
$palette4: #8D493A;

// Landing page width
$landing-w: 1280px;

body {
  margin: 0 !important;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

*:not([class^="p-"]) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
