<div class="ng-star-inserted">
  <div class="surface-section px-4 py-5 md:px-6 lg:px-8 background">
    <div class="text-center">
      <div class="flex justify-content-center align-items-center">
        <img
          class="w-5rem m-2 cursor-pointer"
          src="app/assets/images/logo-app.png"
          alt="logo"
        />
        <h2 class="text-white">Bookami</h2>
      </div>
      <p class="text-white">
        Made with 🍕 and ☕ by
        <a href="https://x.com/MarcoMammi02">Marco Mammì</a>
      </p>
      <ul
        class="list-none p-0 mx-0 my-5 flex justify-content-center flex-column align-items-center lg:flex-row text-white"
      >
          @for (link of landingStore.links; track link) {
          <li class="my-2 mx-5">
            <p (click)="goToSection(link)" class="cursor-pointer link">
              {{ link }}
            </p>
          </li>
          }
      </ul>
      <div
        class="flex align-items-center justify-content-center mb-5 social-box"
      >
        <a
          href="https://x.com/MarcoMammi02"
          class="cursor-pointer border-circle bg-bluegray text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5"
          style="width: 2.5rem; height: 2.5rem"
          ><i class="pi pi-twitter"></i>
        </a>
        <a
          href="https://www.instagram.com/marco.mammi/"
          class="cursor-pointer border-circle bg-bluegray text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5"
          style="width: 2.5rem; height: 2.5rem"
          ><i class="pi pi-instagram"></i>
        </a>
        <a
          href="https://github.com/marcomammi02"
          class="cursor-pointer border-circle bg-bluegray text-bluegray-500 block inline-flex justify-content-center align-items-center"
          style="width: 2.5rem; height: 2.5rem"
          ><i class="pi pi-github"></i>
        </a>
      </div>
      <div class="text-center">
        <a class="mr-5 text-sm text-600 cursor-pointer">Privacy Policy</a
        ><a class="text-sm text-600 cursor-pointer">Terms of Service</a>
      </div>
    </div>
  </div>
</div>
