@import "../../../../styles.scss";

.background {
  background: #1b1b1b !important;
}

.link {
  transition: all .2s ease;
  &:hover {
    color: $color1 !important;
  }
}

p > a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid $color1;
  transition: all .2s ease;

  &:hover {
    color: $color1 !important;
  }
}

.social-box > a {
  text-decoration: none;
}

.bg-bluegray {
  background: #cacbcc;

  &:hover {
    background: #b3b5b7;
  }
}

.policy a {
  color: #b3b5b7;
  transition: all .2s ease;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}
