<div>
  <form [formGroup]="form">
    <p-floatLabel>
      <input pInputText id="name" formControlName="name" />
      <label for="name">Name</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="lastname" formControlName="lastname" />
      <label for="lastname">Lastname</label>
    </p-floatLabel>
    <p-floatLabel>
      <input pInputText id="role" formControlName="role" />
      <label for="role">Role</label>
    </p-floatLabel>
    <p-button label="Create" (click)="create()"/>
  </form>
</div>
